.countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.visited-flags{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.visited-flags img{
    width: 80px;
}