.country{
    border: 2px solid peachpuff;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
}

.country-visited{
    background-color: green;
}

.btn-div{
    display: flex;
    justify-content: space-between;
}
.flag-images{
    height: 150px;
    width: 220px;
}